PORT=8000
MONGODB_URI=mongodb+srv://santhanakrishnan9704_db_user:xOe8yFOEINysoQkA@cluster0.jg81nfz.mongodb.net/ecommerce?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development
UPLOAD_DIR=uploads
FRONTEND_URL=http://localhost:3000
